:root{
    --base: #00FF00;
    --spacing: 10px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.h1 {
    color: var(--base);
}

body {
    text-align: center;
    background: #193549;
    color: aliceblue;
    font-family: sans-serif;
    font-weight: 50px;
    font-size: 25px;
}
.controls {
    margin-bottom: 50px;
}

input {
    width: 100px;
}
